body {
	margin: 0px;
	background-color: #000033;
}
.ヘッダー {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(106, 25, 23, 0.5);
	width: 100%;
	padding: 37px;
	z-index: 3;  /*最前面*/
}
  .TRPG {
	 color: white;
	 position: fixed;
	 top: 20px;
	 right: 380px;
	 font-size: 22px;
	 font-family: serif;
    }
  .FEATURES {
	 color: white;
	 position: fixed;
	 top: 20px;
	 right: 200px;
	 font-size: 22px;
	 font-family: serif;
    }
  .GAME {
	 color: white;
	 position: fixed;
	 top: 20px;
	 right: 70px;
	 font-size: 22px;
	 font-family: serif;
    }
  .ヘッダーアイコン {
	 position: fixed;
	 top: -6px;
	 left: 6px;
	 width: 6%;
	 padding: 5px 5px 5px 13px;
    }
  .アイコン横{
	 color: white;
   position: fixed;
	 top: 15px;
	 left: 93px;
	 font-family: serif;
    }


.メインビジュアル {
	width: 100%;
	left: 0px;
	top: 0px;
	position: relative;
	height: 930px;
}
  .見出し1 {
	 color: white;
	 font-size: 85px;
	 letter-spacing: 1px;
	 font-family: "Shippori Mincho", serif;
   font-weight: 500;
   font-style: normal;
	 text-shadow:0 0 15px #ffffff;
	 position: absolute;
	 top: 480px;
	 left: 74px;
		z-index: 2;
    }
  .見出し1の2 {
	 color: white;
	 font-size: 122px;
	 letter-spacing: 17px;
	 font-family: "Shippori Mincho", serif;
   font-weight: 500;
   font-style: Italic;
	 text-shadow:0 0 15px #ffffff;
	 position: absolute;
	 top: 627px;
	 left: 253px;
		z-index: 2;
    }
  .見出し2 {
	 writing-mode: vertical-rl;
	 color: white;
	 font-size: 30px;
	 font-family: serif;
	 letter-spacing: 6px;
	 height: 700px;
	 text-shadow:0 0 15px #ffffff;
	 position: absolute;
	 top: 175px;
	 right: 120px;
    }
  .見出し3{
   color: #d70035;
	 font-family: "Shippori Mincho", serif;
   font-weight: 400;
   font-style: italic;
	 font-size: 22px;
	 letter-spacing: 10px;
	 background-color: rgba(255, 255, 255, 0.9);
	 width: 580px;
	 text-align: right;
	 height: 1px;
	 text-shadow:0 0 15px #d70035;
	 position: absolute;
	 top: 615px;
	 left: 85px;
		z-index: 2;
    }


.セクション1黒{
	 color: rgba(106, 25, 23, 0);
	 background-color: black;
	 box-shadow: 0px 0px 120px 130px #000000;
	 background-size: cover;
	 text-align: center;
	 line-height: 350px;
	 position: absolute;
	 top: 1000px;
	 width: 100%;
	  z-index: 1;
}

  .セクション1見出し{
	 color: white;
   font-size: 60px;
	 letter-spacing: 5px;
	 font-family: "Shippori Mincho", serif;
   font-weight: 500px;
   font-style: normal;
	 text-align: center;
	 top: 1240px;
	 position: absolute;
	 width: 100%;
	 font-style: Italic;
	 text-shadow:0 0 15px #ffffff;
	  z-index: 2;
   }
  .セクション1ビジュアル{
	 width: 100%;
	 position: relative;
	 top: 420px;
	 height: 900px;
	  z-index: -1;
   }
  .セクション1本文{
	 width: 100%;
	 position: absolute;
	 top: 1610px;
	 text-align: center;
	 font-size: 20px;
	 letter-spacing: 3px;
	 font-family: serif;
	 line-height: 47px;
	 font-weight: bold;
	 text-shadow:0 0 5px #000000;
	 color: white;
   }


.セクション2見出し{
	position: absolute;
	top: 2185px;
	left: 115px;
	font-size: 61px;
	letter-spacing: 3px;
	font-family: "Shippori Mincho", serif;
	color: white;
	font-style: Italic;
	text-shadow:0 0 15px #ffffff;
}
.セクション2波図形{
	 width: 100%;
	 position: absolute;
	 top: 1370px;
	 left: 0px;
	 height: 905px;
}
  .セクション2_1画像{
	 width: 43%;
	 position: absolute;
	 top: 2395px;
	 right: 110px;
	 border-radius: 8px;
	 background: radial-gradient;
	 box-shadow: 20px -20px 0 #c4972f;
   }
  .セクション2_1本文{
	 color: #fffff9;
	 position: absolute;
	 top: 2440px;
	 left: 150px;
		
		& .セクション2_1本文見出し{
			font-size: 33px;
			letter-spacing: 4px;
	    font-family: "Shippori Mincho", serif;
			font-style: Italic;
		}
		& .セクション2_1説明文{
			font-size: 14px;
			letter-spacing: 4px;
			padding: 45px 0px;
			line-height: 1.8;
		}
  }

 .セクション2_2画像{
	 width: 43%;
	 position: absolute;
	 top: 2950px;
	 left: 110px;
	 border-radius: 8px;
	 background: radial-gradient;
	 box-shadow: -20px -20px 0 #6f5436;
   }

  .セクション2_2本文{
	 color: #fffff9;
	 position: absolute;
	 top: 2990px;
	 right: 150px;
		
		& .セクション2_2本文見出し{
			font-size: 33px;
			letter-spacing: 4px;
	    font-family: "Shippori Mincho", serif;
			font-style: Italic;
		}
		& .セクション2_2説明文{
			font-size: 14px;
			letter-spacing: 4px;
			padding: 45px 0px;
			line-height: 1.8;
		}
  }

  .セクション2_3画像{
	 width: 43%;
	 position: absolute;
	 top: 3505px;
	 right: 110px;
	 border-radius: 8px;
	 background: radial-gradient;
	 box-shadow: 20px -20px 0 #4d4398;
   }
  .セクション2_3本文{
	color: #fffff9;
		position: absolute;
	 top: 3540px;
	 left: 150px;
		
		& .セクション2_3本文見出し{
			font-size: 33px;
			letter-spacing: 6px;
	    font-family: "Shippori Mincho", serif;
			font-style: Italic;
		}
		& .セクション2_3説明文{
			font-size: 14px;
			letter-spacing: 4px;
			padding: 45px 0px;
			line-height: 1.8;
		}
  }


.セクション3見出し{
	position: absolute;
	top: 4045px;
	left: 40px;
	font-family: serif;
	font-style: Italic;
	font-size: 54px;
	letter-spacing: 2px;
	padding: 100px 80px;
	height: 1000px;
}
  .セクション3背景用{
	 position: absolute;
	 top: 4000px;
	 background-color: white;
	 width: 100%;
	 height: 1325px;
	  z-index: -1;
   }
    .セクション3見出し背景用{
		 position: absolute;
	   top: 4240px;
	   background-color: #d70035;
		 border: 1.5px solid #d70035;
			width: 34%;
			height: 0.5px;
    }


.セクション3画像横並び{
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 4330px;
  text-align: center;
	padding: 10px 10px 10px 30px;
	flex-wrap: nowrap;
	width: 95%;
	

   & .用意するもの{
	   width: 210px;
		 height: 150px;
		 padding: 20px;
     background-color: white;
		 border-radius: 20px;
		 border: 3.2px solid black;
		 background-color: white;
		 box-shadow: 15px -15px 0 #192f60;

    & .セクション3_画像{
	    width: 60%;
    }
	  & .用意するもの_名前{
	    font-family: serif;
		  font-size: 27px;
			padding: 20px;
			background-color: white;
    }
	  & .用意するもの_説明文{
	    font-size: 15px;
			
    }
   }
}


.セクション4見出し{
	position: absolute;
	top: 4740px;
	left: 40px;
	font-family: serif;
	font-style: Italic;
	font-size: 54px;
	letter-spacing: 2px;
	padding: 100px 80px;
}
	   & .セクション4見出し背景用{
		 position: absolute;
	   top: 4930px;
	   background-color: #d70035;
		 border: 1.5px solid #d70035;
			width: 34%;
			height: 0.5px;
    }


.セクション4説明文{
	position: absolute;
	top: 4980px;
	left: 150px;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 31px;
}

.セクション4_説明横画像{
	position: absolute;
	top: 4910px;
	right: 110px;
	width: 15%;
}

.セクション4画像横並び{
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 5210px;
	text-align: center;
	padding: 0px 0px 0px 30px;
	width: 95%;
	
	   & .ゲーム進行{
	   width: 210px;
		 height: 275px;
		 padding: 10px;
     background-color: white;
		 border: 2px solid black;


    & .セクション4_画像{
	    width: 100%;
    }
	  & .ゲーム進行_説明文{
	    font-size: 15px;
			padding: 31px 0 0 30px;
			letter-spacing: 2px;
    }
   }
	
}
  .矢印3つ{
		display: flex;
	  justify-content: space-around;
		position: absolute;
    top: 130px;
	  text-align: center;
		font-size: 30px;
		width: 73%;
		color: #e9bc00;
   }

  .まとめ{
		position: absolute;
	  top: 5800px;
		text-align: center;
	  font-size: 30px;
	  letter-spacing: 4px;
	  line-height: 55px;
		width: 100%;
		font-family: serif;
   }

  .セクション4背景用{
	 position: absolute;
	 top: 5395px;
	 background-color: white;
	 width: 100%;
	 height: 660px;
	  z-index: -1;
   }

.フッター{
	font-family: serif;
	color: white;

  & .フッターアイコン {
	 position: absolute;
	 top: 6110px;
	 left: 5px;
	 width: 14%;
	 padding: 0px 0px 100px 80px;
    }
  & .フッターアイコン横{
	 position: absolute;
	 top: 6140px;
	 left: 250px;
	 font-size: 40px;
    }
	
	& .フッター横並び{
		display: flex;
	  justify-content: space-around;
	  position: absolute;
	  top: 6130px;
	  right: 130px;

	 & .項目{
     padding: 20px;

	  & .大{
		  font-size: 20px;
			letter-spacing: 3px;
	  }
		& .小{
		font-size: 12px;
		font-family: sans-serif;
		padding: 30px 0 0 0;
		line-height: 38px;
	  }
   }
	}
}
